.card{
  box-sizing: border-box;
  width: 120px;
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  font-size: 20px;
  opacity: 0;
  transform: translate(100px);
  transition: all 150ms;
}

.show{
  transform: translateX(0);
  opacity: 1;
}